@model Database.Models.Sensor

@{
    ViewData["Title"] = "AddSensorToLocationView";
}

<h1>AddSensorToLocationView</h1>

<h4>Sensor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddSensorToLocation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TreeType" class="control-label"></label>
                <input asp-for="TreeType" class="form-control" />
                <span asp-validation-for="TreeType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SensorId" class="control-label"></label>
                <input asp-for="SensorId" class="form-control" />
                <span asp-validation-for="SensorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GpsLat" class="control-label"></label>
                <input asp-for="GpsLat" class="form-control" />
                <span asp-validation-for="GpsLat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GpsLon" class="control-label"></label>
                <input asp-for="GpsLon" class="form-control" />
                <span asp-validation-for="GpsLon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationId" class="control-label"></label>
                <select asp-for="LocationId" class ="form-control" asp-items="ViewBag.LocationId"></select>
                <span asp-validation-for="LocationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
